<!-- looks-image-banner.liquid -->

{{ 'looks-image-banner.css' | asset_url | stylesheet_tag }}
<div class="container-fluid {{ section.settings.custom_class }}">
  <div class="row">
    <div class="col-md-12">
      <div class="looks-banner">
        {% if section.settings.enable_slider %}
          <div class="looks-desktop-banner-image slider_main_banner">
            {% for block in section.blocks %}
              {% if block.type == 'banner_image' %}
                {% assign image_data = block.settings.banner_img %}
                <div class="slider_block relative">
                  {% if image_data != blank %}
                    <img
                      srcset="
                        {% if image_data.width >= 350 %}{{ image_data | image_url: width: 350 }} 350w,{% endif %}
                        {% if image_data.width >= 750 %}{{ image_data | image_url: width: 750 }} 750w,{% endif %}
                        {% if image_data.width >= 1100 %}{{ image_data | image_url: width: 1100 }} 1100w,{% endif %}
                        {% if image_data.width >= 1500 %}{{ image_data | image_url: width: 1500 }} 1500w,{% endif %}
                        {% if image_data.width >= 2200 %}{{ image_data | image_url: width: 2200 }} 2200w,{% endif %}
                        {% if image_data.width >= 3000 %}{{ image_data | image_url: width: 3000 }} 3000w,{% endif %}
                        {{ image_data | image_url }} {{ image_data.width }}w
                      "
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                      src="{{ image_data | image_url: width: 2000 }}"
                      loading="lazy"
                      width="{{ image_data.width }}"
                      height="{{ image_data.height }}"
                      class="{{ section.settings.looks_image_height }}"
                      alt="{{ image_data.alt | escape }}"
                    >
                  {% else %}
                    <div class="looks-image-banner">
                      {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                      {%- if placeholder_slide == 1 -%}
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- else -%}
                        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                  {% endif %}

                  <div class="banner-text ">
                    <div class="container">
                      <div class="row {{ block.settings.content_position }} ">
                        <div class="col-md-6 col-12 top-banner-sec {% if block.settings.enable_overlay %} banner-text-overlay {% endif %}">
                          {% if block.settings.enable_title %}
                            <h1>{{ block.settings.title }}</h1>
                          {% endif %}
                          {% if block.settings.enable_content %}
                            <p>{{ block.settings.content }}</p>
                          {% endif %}
                          {% if block.settings.enable_btn %}
                            <a class="btn" href="{{ block.settings.btn_link }}">{{ block.settings.btn_label }}</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <div class="looks-desktop-banner-image">
            {% assign image_data = section.settings.banner_img %}
            <div class="slider_block relative">
              {% if image_data != blank %}
                <img
                  srcset="
                    {% if image_data.width >= 350 %}{{ image_data | image_url: width: 350 }} 350w,{% endif %}
                    {% if image_data.width >= 750 %}{{ image_data | image_url: width: 750 }} 750w,{% endif %}
                    {% if image_data.width >= 1100 %}{{ image_data | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if image_data.width >= 1500 %}{{ image_data | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if image_data.width >= 2200 %}{{ image_data | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if image_data.width >= 3000 %}{{ image_data | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ image_data | image_url }} {{ image_data.width }}w
                  "
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                  src="{{ image_data | image_url: width: 2000 }}"
                  loading="lazy"
                  width="{{ image_data.width }}"
                  height="{{ image_data.height }}"
                  class="{{ section.settings.looks_image_height }}"
                  alt="{{ image_data.alt | escape }}"
                >
              {% else %}
                <div class="looks-image-banner">
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}

              <div class="banner-text ">
                <div class="container">
                  <div class="row {{ section.settings.content_position }} ">
                    <div class="col-md-6 col-12  top-banner-sec {% if section.settings.enable_overlay %} banner-text-overlay {% endif %}">
                      {% if section.settings.enable_title %}
                        <h1>{{ section.settings.title }}</h1>
                      {% endif %}
                      {% if section.settings.enable_content %}
                        <p>{{ section.settings.content }}</p>
                      {% endif %}
                      {% if section.settings.enable_btn %}
                        <a class="btn" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%- style -%}
{%- endstyle -%}

{% schema %}
{
   "name": "Looks Image Banner",
   "class":"Looks Image Banner",
   "settings": [
     {
       "type":"header",
       "content":"Banner Settings"
     },
     {
       "type":"select",
       "id":"looks_image_height",
       "options":[
         {
           "value":"looks-medium",
           "label":"Medium"
         },
         {
           "value":"looks-large",
           "label":"Full"
         }
       ],
       "default":"looks-medium",
       "label":"Banner Height",
       "info":"select here height of your banner"
     },
     {
       "type":"image_picker",
       "id":"banner_img",
       "label":"Banner Image"
     },
     {
       "type":"header",
       "content":"Slider Settings"
     },
     {
       "type":"checkbox",
       "id":"enable_slider",
       "label":"Enable Your Slider",
       "info":"You can enable or disable slider from here"
     },
     {
      "type":"select",
      "id":"dots",
      "options":[
       {
         "value":"true",
         "label":"True"
       },
       {
         "value":"false",
         "label":"False"
       }
      ],
      "default":"true",
      "label":"Slider Dots",
      "info":"You can enable or disable dots for slider"
     },
     {
      "type":"select",
      "id":"arrow",
      "options":[
       {
         "value":"true",
         "label":"True"
       },
       {
         "value":"false",
         "label":"False"
       }
      ],
      "default":"true",
      "label":"Slider Arrow",
      "info":"You can enable or disable Arrow for slider"
     },
     {
      "type":"select",
      "id":"infinite",
      "options":[
       {
         "value":"true",
         "label":"True"
       },
       {
         "value":"false",
         "label":"False"
       }
      ],
      "default":"true",
      "label":"infinite"
     },
     {
       "type": "range",
       "id": "slides_count",
       "min": 1,
       "max": 5,
       "step": 1,
       "default": 2,
       "label": "Slides Count"
     },
     {
       "type": "range",
       "id": "slider_speed",
       "min": 500,
       "max": 5000,
       "step": 500,
       "default": 1000,
       "label": "Slides Speed"
     },
     {
      "type":"select",
      "id":"autoplay",
      "options":[
       {
         "value":"true",
         "label":"True"
       },
       {
         "value":"false",
         "label":"false"
       }
      ],
      "default":"false",
      "label":"Autoplay",
      "info":"Here you can manage the Autoplay of slider"
     }
   ],
   "blocks":[
    {
     "type":"banner_image",
     "name":"Banner Image",
     "settings":[
       {
         "type":"image_picker",
         "id":"banner_img",
         "label":"Banner Image"
       },
       {
         "type":"select",
         "id":"content_position",
         "options":[
           {
             "value":"justify-content-start ",
             "label":"Left"
           },
           {
             "value":"justify-content-center text-center",
             "label":"Center"
           },
           {
             "value":"justify-content-end text-right",
             "label":"Right"
           }
         ],
        "default":"justify-content-center text-center",
        "label":"Content Position",
        "info":"Here You can select the position for your content"
       },
       {
         "type":"checkbox",
         "id":"enable_overlay",
         "label":"Enable Overlay",
         "info":"You can Enable or disable text overlay from here"
       },
       {
         "type":"checkbox",
         "id":"enable_title",
         "label":"Enable Title",
         "info":"You can enable or disable  your title from here"
       },
       {
         "type":"text",
         "id":"title",
         "label":"Title",
         "default":"This is title",
         "info":"add Your title here"
       },
       {
         "type":"checkbox",
         "id":"enable_content",
         "label":"Enable Paragraph",
         "info":"You can enable or disable  your paragraph from here"
       },
       {
         "type":"text",
         "id":"content",
         "label":"Paragraph",
         "default":"this is a demo paragraph",
         "info":"Here you can add text for your paragraph"
       },
       {
         "type":"checkbox",
         "id":"enable_btn",
         "label":"Enable Button",
         "info":"You can enable or disable  your title from here"
       },
       {
         "type":"text",
         "id":"btn_label",
         "label":"Button Label",
         "default":"Button",
         "info":"Here you can change your button name"
       },
       {
         "type":"url",
         "id":"btn_link",
         "label":"Button Link",
         "info":"You can Add button Link from here"
       }
     ]
    }
   ],
  "presets":[
   {
    "name":"Looks Image Banner"
   }
 ]
}
{% endschema %}

{% render 'Banner_js' %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
